<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MaxLLCharLength" value="99"/>
    <add key="MaxNumberLength" value="4"/>
    <add key="MinPasswordLength" value="10"/>
  </appSettings>
  <log4net>
    <appender name="ConnectToDeviceLogger" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\\Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="1000KB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConnectToDeviceLogger" />
    </root>
  </log4net>
</configuration>